@import url('./menu.css');

@font-face {
	font-family: 'Meilen';
	src: url('/meilen-black.woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--bg: hsl(166deg 100% 12%);
	--bg2: hsl(166deg 100% 8%);
	--text: hsl(40deg 100% 90% / 1);
	--player1: #4b3636;
	--player2: #522f82;
	--red: #d72525;
	--green: hsl(123deg 57% 42%);
	--easing1: cubic-bezier(0.165, 0.84, 0.4, 1);
	--easing2: cubic-bezier(0.3, 0, 0, 1.3);
	--easing3: cubic-bezier(0.86, 0, 0.07, 1);
	--easing4: cubic-bezier(0.25, 1.4, 0.18, 1);

	font-family: Meilen, system-ui;
	font-size: 1rem;
	line-height: 1.5;
	background: var(--bg);
	color: var(--text);
	min-height: 100vh;
}

@media (min-width: 50rem) {
	:root {
		font-size: 1.25rem;
	}
}

body {
	margin: 0;
	overflow: hidden;
}

.Background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: url(/public/bg.webp);
	background: url(/public/bg2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.7);
	/* opacity: 0.2; */
}

h1 {
	--shadow: hsl(0deg 0% 0%);
	margin: 0 auto;
	/* min, preferred, max */
	font-size: clamp(3rem, 6vw, 6rem);
	text-shadow:
		0px -6px 0 var(--shadow),
		0px -6px 0 var(--shadow),
		0px 6px 0 var(--shadow),
		0px 6px 0 var(--shadow),
		-6px 0px 0 var(--shadow),
		6px 0px 0 var(--shadow),
		-6px 0px 0 var(--shadow),
		6px 0px 0 var(--shadow),
		-6px -6px 0 var(--shadow),
		6px -6px 0 var(--shadow),
		-6px 6px 0 var(--shadow),
		6px 6px 0 var(--shadow),
		-6px 18px 0 var(--shadow),
		0px 18px 0 var(--shadow),
		6px 18px 0 var(--shadow),
		0 19px 1px rgba(0, 0, 0, 0.1),
		0 0 6px rgba(0, 0, 0, 0.1),
		0 6px 3px rgba(0, 0, 0, 0.3),
		0 12px 6px rgba(0, 0, 0, 0.2),
		0 18px 18px rgba(0, 0, 0, 0.25),
		0 24px 24px rgba(0, 0, 0, 0.2),
		0 36px 36px rgba(0, 0, 0, 0.15);
}

slag-scenes {
	position: relative;
	height: 90vh;
	display: flex;
	flex-flow: column;
	/* margin: 2vw; */
}

slag-scenes > * {
	flex: 1;
	display: flex;
	flex-flow: column;
	margin-top: min(5rem,  10vh);
}

slag-mark {
	flex: 1;
	display: flex;
	place-items: center;
	flex-flow: column;
	overflow: hidden;
}

button {
	font-size: inherit;
	font-family: inherit;
}

h1,
h2,
h3 {
	user-select: none;
}

live-lobby {
	width: 100%;
	padding: 0.5rem;
}

slag-mark-ui {
	flex: 1;
	max-width: 40rem;
	width: 100%;
	margin: auto;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: fit-content 1fr fit-content; */
	grid-template-areas:
		'header header'
		'aside main'
		'footer footer';
	grid-template-rows: auto 1fr;
	gap: 0.5rem;
}

slag-mark-ui > header {
	grid-area: header;
}

slag-mark-ui > aside {
	grid-area: aside;
	display: flex;
	/* flex: 1; */
	flex-flow: column nowrap;
	align-items: center;
	/* gap: 2rem; */
	justify-content: space-between;
	/* margin: auto 0; */

	& > slag-player {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
	}
}

slag-mark-ui > main {
	grid-area: main;
	flex: 1;
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	background: var(--bg2);
	border: 3px inset hsla(0 100% 100% / 0.5);
}

slag-mark-ui > aside[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	filter: grayscale(1);
}

slag-mark-ui ul {
	padding: 0;
	list-style: none;
}

.HealthBar,
ul.GoldBar,
.MinionBar {
	display: inline-flex;
	flex-flow: row wrap;
	place-items: center;
	gap: 0.1rem;
	user-select: none;
}

.HealthBar {
	color: red;
	font-size: 2rem;
	min-height: 1em;
}

.MinionBar,
.GoldBar {
	border: 3px inset hsla(0 100% 100% / 0.5);
	border-radius: 3px;
	background: var(--bg2);
}

.MinionBar {
	padding: 0.5rem 0.5rem 0.6rem;
	border-bottom: 0;
	min-height: 4.2rem;
}

.GoldBar {
	min-height: 3rem;
	padding: 0.5rem;
}

.Minion {
	display: flex;
	position: relative;
}
.Minion span {
	display: inline-block;
	position: absolute;
	bottom: -2px;
	right: -2px;
	background: black;
	color: white;
	border-radius: 5px;
	padding: 0px 4px;
	font-size: 12px;
}
.Minion button {
	border-radius: 50%;
	background: var(--player1);
	border: 1px solid black;
	font-size: 2rem;
	padding: 0;
	transition: transform 200ms ease-in-out;
}
.Minion[data-player-number='2'] button {
	background-color: var(--player2);
}

.Minion button:hover {
	transform: scale(1.1);
	transition-duration: 100ms;
	animation: bounce 0.8s ease infinite;
}


/* Deployed minions */
slag-mark-ui > main .Minion {
	font-size: 3rem;
	position: absolute;
	transform: translateY(-50%);
	transition: top 16ms linear;
	left: 0.5rem;
}
slag-mark-ui > main [data-player] .Minion {
	left: 1.5rem;
}

.Cursor {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	transition: all 100ms;
}

summary {
	user-select: none;
}

.Splash {
	margin-right: auto;
	margin-left: 0.5rem;
}
.Splash h1 {
	color: #ffca00;
}
.Splash p strong {
	letter-spacing: -0.15em;
	transform: scale(1.5);
	display: inline-block;
	margin: 0 1em;
}

.Countdown {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	/* bottom: 1.5rem; */
	left: 1.5rem;
	right: 1.5rem;
	text-align: center;
	font-size: 3rem;
	line-height: 1;
	transition: all 200ms var(--easing1);
}

.Countdown span {
	display: inline-block;
	background: var(--text);
	color: var(--red);
	padding: 0.4em;
	border-radius: 1rem;
	box-shadow: 2px 4px 1em black;
	min-width: 3em;
	text-align: center;
}

.Countdown label {
	font-size: 1rem;
}

input[type='text'] {
	font-size: 1em;
	background: var(--player2);
	color: var(--text);
	font-family: inherit;
	width: 25em;
	max-width: 100%;
}

label[custom] { user-select: none; cursor: pointer; }
label[custom] input { pointer-events: none; position: absolute; opacity: 0;}
label[custom] input:not(:checked) ~ .control--checked { display: none; }
label[custom] input:not(:checked) ~ .control--unchecked { display: initial; }
label[custom] input:checked ~ .control--checked { display: initial; }
label[custom] input:checked ~ .control--unchecked { display: none; }

