slag-box,
menu {
	border-radius: var(--border-radius);
	border-top: 1px solid hsl(300deg 1% 13%);
	border-left: 2px solid hsl(300deg 1% 10%);
	border-right: 2px solid hsl(300deg 1% 10%);
	border-bottom: 5px solid hsl(300deg 1% 6%);
}

slag-box {
	display: block;
	background: hsl(185deg 100% 12%);
	flex: 1;
	padding: 1rem;
}

menu {
	margin: max(2rem, 5vh) auto 0;
	display: flex;
	flex-flow: column wrap;
	gap: 0.2rem;
	width: 100%;
	max-width: 26rem;
	padding: 0.2rem;
	background: var(--bg);
}

menu[horizontal] {
	flex-flow: row;
}

menu[horizontal] > * {
	min-height: 1.5rem;
}

menu[horizontal] p {
	display: flex;
}

menu > * {
	display: flex;
	place-items: center;
	place-content: center;
	min-height: 3rem;
	border-radius: var(--border-radius);
}

menu a,
menu button {
	background: none;
	color: var(--text);
	border: 1px solid hsl(12deg 8% 12% / 80%);
	background: hsla(0deg 0% 60% / 10%);
	text-decoration: none;
	transition: background 150ms;
	/* animation: bounce 0.8s ease infinite; */
	/* animation: bounce 0.8s var(--easing2) infinite; */
}

menu button[disabled] {
	cursor: not-allowed;
	opacity: 0.3;
}

menu label[custom] {
	gap: 0.3em;
	background: hsla(0deg 0% 10% / 30%);
}

button {
	cursor: pointer;
}

menu a:hover,
menu button:hover {
	/* animation: bounce 0.8s ease infinite; */
	/* border-color: hsl(12deg 17% 53% / 80%); */
	/* border-color: var(--yellow); */
	filter: hue-rotate(280deg);
	background: linear-gradient(120deg, hsl(146deg 100% 73% / 16%), transparent);
	/* animation: bounce 0.7s ease infinite; */
}

menu a:active,
menu button:active {
	background: hsla(146deg 100% 73% / 16%);
	border: 1px inset hsl(12deg 8% 12% / 80%);
}

/* filter: drop-shadow( 0px 2px 3px rgba(0, 0, 0, .4)); */

menu[tr] {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 10;
	width: auto;
	margin: 0;
	flex-flow: row;
}

menu[tr] > * {
	min-width: 3rem;
	min-height: 3rem;
}

menu > p {
	display: block;
	margin: 0.5rem;
}

@keyframes boing {
	0%,
	100% {
		transform: translateY(-50%) translateX(90%) scaleX(1) scaleY(1);
	}
	50% {
		transform: translateY(-50%) translateX(-60%) scaleX(0.95) scaleY(1.1);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0%) translateX(0%) scaleX(1) scaleY(1);
	}

	50% {
		transform: translateY(-20%) translateX(0%) scaleX(0.9) scaleY(1.18);
	}
}
