*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-size: 1rem;
	line-height: 1.5;
	background: #00392c;
	color: whitesmoke;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	overflow: hidden;
}

ul.GoldBar,
ul:has(.Minion) {
	display: inline-flex;
	flex-flow: row wrap;
	gap: 0.25rem;
	background: hsla(0 0% 0% / 0.5);
	border: 2px solid hsla(0 100% 100% / 0.5);
	padding: 0.5rem;
	border-radius: 5px;
	min-height: 3rem;
}

ul:has(.Minion) {}

menu {
	padding: 0;
	display: flex;
	flex-flow: row wrap;

	& button:last-of-type {
		margin-right: auto;
	}
}

button {
	font-size: inherit;
}

web-rumble {
	width: 100%;
	height: 100vh;
	margin: auto;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 2fr 3fr;
}

web-rumble > nav {
	grid-area: 1 / 1;
	grid-column: span 2;
}

web-rumble > aside {
	grid-area: 2 / 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	margin: auto 0 auto 1rem;

	& > div {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
	}
}

web-rumble > main {
	grid-area: 2 / 2;
	display: flex;
	flex-flow: column nowrap;
}

web-rumble ul {
	padding: 0;
	list-style: none;
}

.Board {
	margin: 1rem;
	position: relative;
	border: 5px dotted orange;
	flex: 1;
}
.Board li {
	position: absolute;
	transition: top 1000ms linear;
	transform: translateY(-50%);
}

.Minion button {
	border-radius: 50%;
	background: #4b3636;
	border: 1px solid black;
	font-size: 2rem;
	padding: 0;
}
.Minion.ai button {
	background-color: #522f82;
}

