*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-size: 1rem;
	line-height: 1.5;
	background: #00392c;
	color: whitesmoke;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	overflow: hidden;
	min-height: 100vh;
}

web-rumble {
	/* border: 2px solid black; */
	/* border-radius: 5px; */
	/* background: cornsilk; */
	/* color: black; */
	/* width: 100%; */
	flex: 1;
	height: 100vh;
	min-height: 50vh;
	margin: auto;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: minmax(270px, max-content) minmax(100px, 1fr);
}

web-rumble > nav {
	grid-area: 1 / 1;
	grid-column: span 2;
}

web-rumble > aside {
	grid-area: 2 / 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	margin: auto 0 auto 1rem;

	& > div {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
	}
}

web-rumble > main {
	grid-area: 2 / 2;
	display: flex;
	flex-flow: column nowrap;
}

web-rumble ul {
	padding: 0;
	list-style: none;
}

.HealthBar,
ul.GoldBar,
.MinionBar {
	display: inline-flex;
	flex-flow: row wrap;
	place-items: center;
	border: 1px solid hsla(0 100% 100% / 0.5);
	border-radius: 5px;
}

.HealthBar {
	color: red;
	font-size: 2rem;
	padding: 0 0.25em;
	gap: 0.25em;
}

.MinionBar {
	padding: 0.5em;
	gap: 1em;
}

.GoldBar {
	min-height: 1.625rem;
	padding: 0 0.5em;
}

menu {
	padding: 0;
	display: flex;
	flex-flow: row wrap;

	& button:last-of-type {
		margin-right: auto;
	}
}

button {
	font-size: inherit;
}

.Board {
	margin: 1rem;
	position: relative;
	border: 5px dotted orange;
	flex: 1;
}

.Minion {
	display: flex;
	position: relative;
}
.Minion span {
	display: inline-block;
	position: absolute;
	bottom: -2px;
	right: -2px;
	background: black;
	color: white;
	border-radius: 5px;
	padding: 0px 4px;
	font-size: 12px;
}
.Minion button {
	border-radius: 50%;
	background: #4b3636;
	border: 1px solid black;
	font-size: 2rem;
	padding: 0;
}
.Minion.ai button {
	background-color: #522f82;
}

/* Deployed minions */
.Board li {
	position: absolute;
	transform: translateY(-50%);
	/* transition: top 1000ms linear; */
}
.Board [data-player] li {
	left: 3rem;
}

.Cursor {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	transition: all 100ms;
}
