*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	background: #00392c;
	color: whitesmoke;
	font-size: 2rem;
	line-height: 1.5;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	overflow: hidden;
}

menu {
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

button {
	font-size: inherit;
}

web-rumble {
	width: 100%;
	height: 100vh;
	margin: auto;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr 1fr;
}

web-rumble > nav {
	grid-area: 1 / 1;
	grid-column: span 2;
}

web-rumble > aside {
	grid-area: 2 / 1;
	display: flex;
	flex-flow: column nowrap;
}

web-rumble > main {
	grid-area: 2 / 2;
	display: flex;
	flex-flow: column nowrap;
}

web-rumble aside ul,
web-rumble main ul {
	flex: 1;
	padding: 0;
	list-style: none;
}

.GoldBar {
}

.Board {
	margin: 1rem;
	position: relative;
	border: 5px dotted orange;
	flex: 1;
}
.Board li {
	position: absolute;
	transition: top 1000ms linear;
	transform: translateY(-50%);
}

.Minion button {
	border-radius: 50%;
	background: #4b3636;
	border: 1px solid black;
	font-size: 2rem;
}
.Minion.ai button {
	background-color: #522f82;
}
