@import url('./assets/webfonts.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--bg: hsl(166deg 100% 12%);
	--bg2: hsl(166deg 100% 8%);
	--text: hsl(40deg 100% 90% / 1);
	--player1: #4b3636;
	--player2: #522f82;

	background: var(--bg);
	color: var(--text);
	font-family: Meilen, system-ui;
	font-size: 1rem;
	line-height: 1.5;
}

@media (min-width: 37.5rem) {
	:root {
		font-size: 1.25rem;
	}
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	flex-flow: column;
	overflow: hidden;
	min-height: 100vh;
}

button {
	font-size: inherit;
	font-family: inherit;
}

p a {
	color: floralwhite;
}

h2 {
	user-select: none;
}

rumble-lobby {
	width: 100%;
	padding: 0.5rem;
}

rumble-game {
	/* flex: 1; */
	/* height: 100vh;
	min-height: 50vh; */
	max-width: 40rem;
	width: 100%;
	margin: auto;
	padding: 0.5rem;
	display: grid;
	grid-template-rows: min-content 1fr;
	/* 16 is the magic number that avoids aside jumping */
	grid-template-columns: minmax(16rem, max-content) minmax(3rem, 1fr);
	gap: 1rem;
}

rumble-game > header {
	grid-area: 1 / 1;
	grid-column: span 2;
}

rumble-game > aside {
	grid-area: 2 / 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	margin: auto 0;

	& > div {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
	}
}

rumble-game > main {
	grid-area: 2 / 2;
	flex: 1;

	display: flex;
	flex-flow: column nowrap;
	position: relative;
	background: var(--bg2);
	border: 3px inset hsla(0 100% 100% / 0.5);
}

rumble-game ul {
	padding: 0;
	list-style: none;
}

.HealthBar,
ul.GoldBar,
.MinionBar {
	display: inline-flex;
	flex-flow: row wrap;
	place-items: center;
	gap: 0.1rem;
	user-select: none;
}

.HealthBar {
	color: red;
	font-size: 2rem;
	min-height: 1em;
}

.MinionBar,
.GoldBar {
	border: 3px inset hsla(0 100% 100% / 0.5);
	border-radius: 3px;
	background: var(--bg2);
}

.MinionBar {
	padding: 0.5rem 0.5rem 0.6rem;
	border-bottom: 0;
}

.GoldBar {
	min-height: 3rem;
	padding: 0.5rem;
}

.Minion {
	display: flex;
	position: relative;
}
.Minion span {
	display: inline-block;
	position: absolute;
	bottom: -2px;
	right: -2px;
	background: black;
	color: white;
	border-radius: 5px;
	padding: 0px 4px;
	font-size: 12px;
}
.Minion button {
	border-radius: 50%;
	background: var(--player1);
	border: 1px solid black;
	font-size: 2rem;
	padding: 0;
	transition: transform 200ms ease-in-out;
}
.Minion.ai button {
	background-color: var(--player2);
}

.Minion button:hover {
	transform: scale(1.1);
	transition-duration: 100ms;
}

/* Deployed minions */
rumble-game > main .Minion {
	position: absolute;
	transform: translateY(-50%);
	transition: top 1000ms linear;
	left: 0.5rem;
}
rumble-game > main [data-player] .Minion {
	left: 1.5rem;
}

.Cursor {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	transition: all 100ms;
}

menu {
	padding: 0rem;
	display: flex;
	flex-flow: row wrap;

	& button:last-of-type + p {
		margin-left: auto;
	}
}

summary {
	user-select: none;
}

.Splash {
	margin-right: auto;
	margin-left: 0.5rem;
}

h1 {color: #ffca00; }
/* .Splash p span:nth-of-type(2) {color: yellowgreen; } */
/* .Splash p span:nth-of-type(3) {color: khaki; } */
/* .Splash p span:nth-of-type(4) {color: darkorange; } */
.Splash p strong { letter-spacing: -0.15em; transform: scale(1.5); display: inline-block; margin: 0 1em; }
