@import url('./assets/webfonts.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--bg: hsl(166deg 100% 12%);
	--bg2: hsl(166deg 100% 8%);
	--text: floralwhite;

	--player1: #4b3636;
	--player2: #522f82;

	background: var(--bg);
	color: var(--text);
	font-family: Meilen, system-ui;
	font-size: 1.25rem;
	line-height: 1.5;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	overflow: hidden;
	min-height: 100vh;
}

button {
	font-size: inherit;
	font-family: inherit;
}

h2 {
	user-select: none;
}

web-rumble {
	flex: 1;
	height: 100vh;
	min-height: 50vh;
	margin: auto;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns: minmax(270px, max-content) minmax(100px, 1fr);
}

web-rumble > header {
	grid-area: 1 / 1;
	grid-column: span 2;
}

web-rumble > aside {
	grid-area: 2 / 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	margin: auto 0 auto 1rem;

	& > div {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
	}
}

web-rumble > main {
	grid-area: 2 / 2;
	display: flex;
	flex-flow: column nowrap;
}

web-rumble ul {
	padding: 0;
	list-style: none;
}

.HealthBar,
ul.GoldBar,
.MinionBar {
	display: inline-flex;
	flex-flow: row wrap;
	place-items: center;
	gap: 0.1rem;
}

.HealthBar {
	color: red;
	font-size: 2rem;
}

.MinionBar,
.GoldBar {
	border: 3px inset hsla(0 100% 100% / 0.5);
	border-radius: 3px;
	background: var(--bg2);
}

.MinionBar {
	padding: 0.5rem 0.5rem 0.6rem;
	gap: 1rem;
	border-bottom: 0;
}

.GoldBar {
	min-height: 3rem;
	padding: 0.5rem;
	user-select: none;
}

.Board {
	margin: 1rem;
	position: relative;
	border: 3px inset hsla(0 100% 100% / 0.5);
	background: var(--bg2);
	flex: 1;
}

.Minion {
	display: flex;
	position: relative;
}
.Minion span {
	display: inline-block;
	position: absolute;
	bottom: -2px;
	right: -2px;
	background: black;
	color: white;
	border-radius: 5px;
	padding: 0px 4px;
	font-size: 12px;
	user-select: none;
}
.Minion button {
	border-radius: 50%;
	background: var(--player1);
	border: 1px solid black;
	font-size: 2rem;
	padding: 0;
	transition: transform 200ms ease-in-out;
}
.Minion.ai button {
	background-color: var(--player2);
}

.Minion button:hover {
	transform: scale(1.1);
	transition-duration: 100ms;
}

/* Deployed minions */
.Board li {
	position: absolute;
	transform: translateY(-50%);
	transition: top 1000ms linear;
}
.Board [data-player] li {
	left: 3rem;
}

.Cursor {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	transition: all 100ms;
}

menu {
	padding: 0rem;
	display: flex;
	flex-flow: row wrap;

	& button:last-of-type + p {
		margin-left: auto;
	}
}

